.sideBarContainer{
    background-color: #01606F;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.sideBarContainer .addTicketCont{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTicketCont .addTicketBtn{
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: #E1B444;
    color: #01606F;
    border: none;
    border-radius: 15px;
}

.sideBarContainer nav ul{
    display: block;
    margin-top: 20px;
}
.sideBarContainer a{
    display: block;
    padding: 10px;
    padding-left: 40px;
    color: #fff;
}


.sideBarContainer nav ul a:hover{
    background-color: #00859a;
    color: #fff;
}
.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    background-color: #077a8c;
}

.submenu li a {
    padding: 10px;
    padding-left: 60px;
    text-decoration: none;
    color: #fff;
}

.has-submenu .submenu li a:hover {
    background-color: #e5cf99;
    color: #01606F;
}

.sideBarContainer .logoutBtn{
    padding: 10px;
    background-color: #E1B444;
    color: #01606F;
    font-size: 14px;
    border: none;
    margin: 10px auto;
    border-radius: 15px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

.addTicketCont .addTicketBtn:hover, .logoutBtn:hover{
    cursor: pointer;
    background-color: #c59c35;
}

.sideBarContainer hr{
    border: 0.5px solid #fff6;
}





/* Form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(220, 54, 54);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Heading */
.form-container  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form styles */
.ticket-form {
    display: flex;
    flex-direction: column;
}

.ticket-form label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.ticket-form input,
.ticket-form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.ticket-form input:focus,
.ticket-form select:focus {
    border-color: #007BFF;
    outline: none;
}

.ticket-form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.ticket-form button:hover {
    background-color: #0056b3;
}
